body {
  background-color: rgb(157, 209, 230);

}

.player {
  height: 95vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.trackart {
  margin: 25px;
  height: 250px;
  width: 250px;
  background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  border-radius: 15%;
}

.nowplaying {
  font-size: 1rem;
}

.trackname {
  font-size: 3rem;
}

.trackartist {
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpausetrack,.prevtrack,.nexttrack {
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.playpausetrack:hover,.prevtrack:hover,.nexttrack:hover {
  opacity: 1.0;
}

.slidercontainer {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seekslider,.volumeslider {
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  transition: opacity .2s;
}

.seekslider::-webkit-slider-thumb,.volumeslider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seekslider:hover,.volumeslider:hover {
  opacity: 1.0;
}

.seekslider {
  width: 60%;
}

.volumeslider {
  width: 30%;
}

.currenttime,.totalduration {
  padding: 10px;
}

i.volumedown,i.volumeup {
  padding: 10px;
}

i.play,i.pause,i.forward,i.backward {
  cursor: pointer;
}